{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="my-4 text-center logo-container">
            <img src="{{ asset('build/images/republique.82f18a83.png') }}" alt="PAY_DE_LA_LOIRE_logo">
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header bg-white">
                        <h2 class="mt-4">Connexion
                            <a type="button" class="btn" href="{{ path('help') }}">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <form action="{{ path('user_bundle_security_login') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input class="form-control" type="text" id="email" name="email"
                                       value="{{ last_username }}" required="required" autocomplete="email"/>
                            </div>

                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input class="form-control" type="password" id="password" name="password" required="required"
                                       autocomplete="current-password"/>
                            </div>
                            <div>
                                <small><i class="fa fa-info-circle"></i> En cas de mot de passe oublié, contactez votre administrateur.</small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-1">
                                <input class="btn btn-primary float-right m-0" type="submit" id="_submit" name="_submit"
                                       value="{{ 'security.login.submit'|trans }}"/>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}