{% extends '@AthomeUser/layout.html.twig' %}

{% block title %}{{ 'request_password'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit" value="submit">Submit</button>
    {{ form_end(form) }}


{% endblock %}
