{% extends '@AthomeUser/layout.html.twig' %}

{% block title %}{{ 'request_password'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit" value="submit">Submit</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
